/* styles/BackgroundVideo.module.css */

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 51rem;
    object-fit: cover;
    z-index: -2;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 51rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

#__next {
    position: relative;
    z-index: 1;
  }
