.border-container {
    border-left: 2px solid #a396c1;
    border-right: 2px solid #a396c1;
}

.cards {
    /* font-family: exo_2; */
    height: 10rem;
}

.iniciarTrabajo {
    /* font-family: exo_2; */
    font-weight: bold;
    font-size: 34px;
}

.textCard {
    /* font-family: exo_2; */
    font-weight: 200;
    font-size: 30px;
}

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
    z-index: 3;
    top: -3rem;
}

/* .card {
    height: 195px;
    background-color: red;
    width: 75%;
} */

.pading-text {
    /* padding: 0 4%; */
    padding: 0 12%;
}

.square {
    padding: 20%;
    aspect-ratio: 1/1;
    height: 100%;
}

.square img {
    height: 4.375rem;
}