body {
  --backgroud-color: #170b35;
  background: var(--backgroud-color) !important;
  font-family: var(--fontExo2);
  color: #fff !important;
}

.borde-purple {
  --primaryColor: #9678ff;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--primaryColor), 0 0 20px var(--primaryColor), 0 0 30px var(--primaryColor), 0 0 40px var(--primaryColor);
  background: var(--backgroud-color);
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sin-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.alice-carousel__stage-item img {
  width: 100% !important;
  border-radius: 2rem !important;
}

.alice-carousel__wrapper {
  height: 100% !important;
}

.alice-carousel {
  height: 100%;
}

.fly {
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform: translateY(-500px);
  opacity: 0;
}

.alice-carousel__dots {
  position: fixed;
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.height-general {
  height: 4rem;
}

/*  */
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35rem;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  background-color: var(--backgroud-color);
  color: #fff;
  border: 1px solid #333;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #fff;
  color: #000000;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  /* color: rgba(255, 255, 255, 0.5); */
  color: rgba(2, 1, 1, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  color: #9678FF;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: var(--backgroud-color);
  ;
}

.submit:hover {
  background-color: #9678FF;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  font-size: 40px;
  color: #A396C1;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}