/* Navigation.module.css */
.header {
    height: 4rem;
}

.flex-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.div-logo {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 4rem;
}

.item-logo {
    height: 2.5rem;
}

.ig-logo {
    padding: 0 0 0.3rem 0.7rem;
}

.navigation {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    gap: 32px;
    height: 4rem;
    justify-content: flex-end;
    list-style: none;
    text-transform: capitalize;
}

.navigation a {
    color: #fffefe;
    text-decoration: none;
}



.active a {
    border-radius: 10px;
    border: 2px solid #a396c1;
    font-weight: bold;
    padding: 6px;
}

.border-container {
    border-left: 2px solid #a396c1;
    border-top: 2px solid #a396c1;
    border-right: 2px solid #a396c1;
    border-radius: 20px 20px 0 0;
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background: #fff;
    color: #a396c1 !important;
    transition: 0.5s cubic-bezier(0.4, 0, 1, 1);

}

.scrolled .navigation a {
    color: #4D418D;
  }
